* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --admin-blue: #1992d4;
  --grey-background: #e2e8f0;
  --yellow-detail: #f0b429;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 250px 6fr;
  grid-template-rows: 150px 5fr;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 1rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr);
}

.header #top{
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 8px;
}

#search{
    grid-column: 1 / 2;
    height: 20%;
    width: 20%;
}

#search-bar{
    grid-column: 2 / 3;
    background-color: var(--grey-background);
    border-radius: 2rem;
    height: 80%;
}

#bell{
    grid-column: 5;
    height: 20%;
    width: 20%;
}

#image{
    grid-column: 6;
    height: 20px;
    width: 20px;
}

#top p{
    grid-column: 7;
}
.header#bottom{
    grid-row: 2;
    grid-template-columns: 2fr 4fr 3fr 2fr 2fr 2fr;
    grid-template-rows: 100%;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--admin-blue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  align-items: center;
  padding: 2rem;
  color: white;
}

.sidebar > section {
  margin-top: 2rem;
}

section > p {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.sidebar h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--grey-background);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem;
  gap: 16px;
}

.projects {
  grid-column: 1;
  grid-row: 1/ 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, max(400px, 45%));
  grid-template-rows: 200px;
  grid-auto-flow: row;
  grid-auto-rows: 200px;
  gap: 1rem;
}

.announcements {
  grid-column: 2;
  grid-row: 1 / 2;
  background-color: white;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.announcements > div > h2{
    font-size: medium;
}

.announcements > div > p{
    font-size: small;
}

.top {
  grid-row: 1;
}

.middle {
  grid-row: 2;
}

.bottom {
  grid-row: 3;
}

.trending {
  grid-column: 2;
  grid-row: 2 / 3;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 0.5rem;
  padding: 1rem;
}

.trending > div{
    padding: 1rem;
}

.trending > div > h2{
    font-size: medium;
}

.trending > div > p{
    font-size: small;
}

article {
  background-color: white;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 4fr 2fr;
  gap: 1rem;
  border-radius: 0.5rem;
}

article > h2 {
  margin-top: 1rem;
  grid-column: 2 / 6;
  grid-row: 1;
}

article > p {
  grid-column: 2 / 6;
  grid-row: 2;
}

article > section {
  background-color: var(--yellow-detail);
  grid-column: 1;
  grid-row: 1 / 4;
  position: relative;
  height: 100%;
  width: 20%;
}

article > .icons {
  grid-column: 3 / 6;
  grid-row: 3;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  height: min-content;
}

.icons > svg {
  height: 30px;
  width: 30px;
  margin-left: 2rem;
  margin-right: 1rem;
}
